<div class="panel panel-default">
  <div class="panel-body text-justify">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info text-blue">
        <h4 class="list-group-item-heading">Faculty, Work Culture &amp; Integrity</h4>
      </li>
      <li class="list-group-item">
        <p class="text-justify"><span class="text-uppercase text-info">A dedicated and accomplished team of faculty</span> teach at the <span class="text-blue">Chaitanya
          Bharathi</span>. The current team of permanent faculty have been chosen from leading South Indian Colleges on the basis
          of their excellence and teaching acumen. Dissemination of lessons within the time-frame in keeping with the curriculum
          formulated in the best possible way so as to enhance the potential and skills of every student. At <span class="text-blue">Chaitanya Bharathi</span>
          we foster learning environment that promotes responsible, principled behavior which respects the dignity of all
          the members of the community. We are committed to practices that are fair, honest and objective in dealing with
          students, faculty members, staff and stake at all levels of community.
        </p>
      </li>
      <li class="list-group-item list-group-item-info text-blue">
        <h4 class="list-group-item-heading">Parent-Teacher &amp; Parent-Student-Teacher Meetings</h4>
      </li>
      <li class="list-group-item">
        <p class="text-justify">We believe that a positive communication between the parents and teachers help improve the academic performance of
          the children. Parents must be totally aware of the learning outcomes of the students, should also have a chance
          to participate in a conversation with teachers about progress, potential and the ongoing evolution of the child.
          While teachers are experts in teaching, monitoring, and general psychology of a child, parents are fully aware
          of the attitude and aptitude of the child. So a dialogue between parent and teacher will educate both the parent
          and the teacher in general and in particular and allow them to guide the child in cohesion. Further there must
          be a three way relationships between parents, teacher and student and working together positively we can help the
          children achieve their full potential.
          <i>This is why we arrange parent-teacher and parent-teacher-student meeting three to four times in a year.</i>
        </p>
      </li>
    </ul>
  </div>
</div>