<header role="banner">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
      <img id="logo-main" src="/assets/images/brand-image.png" width="200px" alt="Chaitanya Bharathi" {{action 'goToIndex'}}/>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center" style="line-height: 77px;">
      <a href="tel:+917086026705" class="hidden-xs">{{#fa-icon "phone" size="lg"}} +91-7086026705{{/fa-icon}}</a>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="tel:+917086026705" class="navbar-text visible-xs-inline-block">{{#fa-icon "phone" size="lg" style="padding-left:20px"}} +91-7086026705{{/fa-icon}}</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>

      <div class="navbar-collapse collapse" id="menu-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'index' }}{{#fa-icon "home" size="lg"}} Home{{/fa-icon}}{{/link-to}}</li>
          <li>{{#link-to 'aboutus' }}{{#fa-icon "info-circle" size="lg"}} About Us{{/fa-icon}}{{/link-to}}</li>
          <li>{{#link-to 'ourmission' }}{{#fa-icon "bullseye" size="lg"}} Our Mission{{/fa-icon}}{{/link-to}}</li>
          <li>{{#link-to 'courses' }}{{#fa-icon "graduation-cap" size="lg"}} Courses{{/fa-icon}}{{/link-to}}</li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{#fa-icon "download" size="lg"}} Downloads{{/fa-icon}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href='/assets/pdf/prospectus.pdf' target="_blank">{{#fa-icon "file-pdf-o"}} Prospectus{{/fa-icon}}</a></li>
              <li><a href='/assets/pdf/application.pdf' target="_blank">{{#fa-icon "file-pdf-o"}} Application{{/fa-icon}}</a></li>
              <li><a href='/assets/pdf/students-data.pdf' target="_blank">{{#fa-icon "file-pdf-o"}} Students Data{{/fa-icon}}</a></li>
              <li>{{link-to 'All Downloads' 'downloads' }}</li>
            </ul>
          </li>
          <li>{{#link-to 'contactus' }}{{#fa-icon "map-marker" size="lg"}} Contact Us{{/fa-icon}}{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  {{outlet}}
</div>

<div class="container text-center">
  <hr />
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'aboutus' }}{{#fa-icon "info-circle"}} About Us{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'ourmission' }}{{#fa-icon "bullseye"}} Our Mission{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'courses' }}{{#fa-icon "graduation-cap"}} Courses{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'downloads' }}{{#fa-icon "download"}} Downloads{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li>{{#link-to 'contactus' }}{{#fa-icon "map-marker"}} Contact Us{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li>{{#link-to 'index' }}{{#fa-icon "copyright"}} All Rights Reserved 2017 | Chaitanya Bharathi{{/fa-icon}}{{/link-to}}</li>
      </ul>
    </div>
  </div>
</div>