<div class="panel panel-info">
  <div class="panel-body text-justify">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info text-blue">
        <h4 class="list-group-item-heading">Courses Offered</h4>
      </li>
      <li class="list-group-item">Science stream for +2 boards integrated with IIT-JEE (Mains &amp; Advanced) / NEET / AIIMS for class X completed students.</li>
      <li class="list-group-item"><code>i-spark</code> Programme for IIT-JEE (Mains &amp; Advanced) / Other Engineering Entrances.</li>
      <li class="list-group-item"><code>m-star</code> Programme for NEET / AIIMS / Medical Entrances.</li>
      <li class="list-group-item">Repeaters coaching for class XII completed students.</li>
      <li class="list-group-item">Foundation courses for IX and X class students.</li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info text-blue">
        <h4 class="list-group-item-heading">Salient Features</h4>
      </li>
      <li class="list-group-item">Well Experienced and dedicated South Indian faculty.</li>
      <li class="list-group-item">Limited students with Unlimited care.</li>
      <li class="list-group-item">AC Class rooms.</li>
      <li class="list-group-item">A work culture that gives the students ample scope to self-development.</li>
      <li class="list-group-item">Motivational classes, seminars and counselling sessions to build self confidence in students.</li>
      <li class="list-group-item">Consistently monitoring ongoing performance timely feedback regarding their progress.</li>
    </ul>
  </div>
</div>












