<div class="panel panel-default">
    <div class="panel-body text-justify">
        <div class="list-group">
            <a href='/assets/pdf/application.pdf' target="_blank" class="list-group-item">{{#fa-icon "file-pdf-o"}} Application{{/fa-icon}}</a>
            <a href='/assets/pdf/students-data.pdf' target="_blank" class="list-group-item">{{#fa-icon "file-pdf-o"}} Students Data{{/fa-icon}}</a>
        </div>
    </div>
</div>