<div class="panel panel-default">
  <div class="panel-body text-justify">    
    <p class="bg-primary" style="text-align: center">Class XII passed/appeared students apply for "REPEATER'S PROGRAM" Scholarship test on May 13.<br/>For registration contact <a style="color: white;" href="tel:+917662990999" style="color: #d0d0d0">+91-7662990999</a>, apply on or before May 10.</p>
  </div>
  <div class="panel-heading">
    <img src="/assets/images/banner.jpg" class="img-responsive img-rounded center-block" width="100%" />
  </div>
  <div class="panel-body text-justify">
    Majority of students aspire to become <code>Doctor &amp; Engineer</code> but very few of them realize their aspirations because they lack
    proper guidance despite deserving to compete. In fact, if they are motivated and trained properly for the preparation
    of these competitive exams and +2 boards with an edge, they are bound to succeed. Aiming to help realize the dreams of thousands of
    such students, <span class="text-blue">CHAITANYA BHARATHI</span> is started as a humble integrated academy with limited students only.
  </div>
</div>