<div class="panel panel-default">
  <div class="panel-heading">
    <img src="/assets/images/banner.jpg" class="img-responsive img-rounded center-block" width="100%" />
  </div>
  <div class="panel-body text-justify">
    Majority of students aspire to become <code>Doctor &amp; Engineer</code> but very few of them realize their aspirations because they lack
    proper guidance despite deserving to compete. In fact, if they are motivated and trained properly for the preparation
    of these competitive exams with +2 boards, they are bound to succeed. Aiming to help realize the dreams of thousands of
    such students, <span class="text-blue">CHAITANYA BHARATHI</span> is started as a humble integrated academy with limited students only.
  </div>
</div>