<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h4>Our Mission</h4>
  </div>
  <div class="panel-body text-justify">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">Our Mission and Objectives</h4>
      </li>
      <li class="list-group-item">To provide to our students an environment conductive to high quality learning.</li>
      <li class="list-group-item">To create a culture for intellectual curiosity and a genuine desire for knowledge and understanding.</li>
      <li class="list-group-item">To foster in every child, a sense of citizenship, to be amongst the community of students and know how to grow by
        themselves and amongst the peers.</li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <h4 class="list-group-item-heading">In pursuing this vision, <span class="text-blue">Chaitanya Bharathi</span> strives to fulfill the following institutional objectives</h4>
      </li>
      <li class="list-group-item">Offer a dynamic, interactive education environment that engages students in learning process.</li>
      <li class="list-group-item">Provide clear learning outcome, detailed instruction, and assessment for all course to ensure course mastery.</li>
      <li class="list-group-item">Provide constructive feedback to promote student self-assessment and motivation.</li>
    </ul>
  </div>
</div>